{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Task HTML</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #edc7c7;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #d0cece;
        }

        tr:hover {
            background-color: rgb(243, 243, 84);
        }
    </style>
</head>

<body background="{% static 'images/ba.jpg' %}">
    <header>
        <h1>Welcome to Student Information Website</h1>
        <div id="image1">
            <img src="{% static 'images/newlogo.png' %}" alt="">
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">URL</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <!-- <video width="" height="" controls>
        <source src="{%static 'images/cloud.mp4' %}">
    </video> -->
    <form action="task">
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll Number</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.roll_number }}</td>
                        <td>{{ student.grade }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <footer>
        <p>&copy; 2024 DjangoTask.O(1)CodingClub</p>
    </footer>
</body>

</html>