body {
  font-family: 'Arial', sans-serif;
  background-image: "b.jpg";
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #84b3e6;
  color: #1e1d1d;
  text-align: center;
  padding: 1em;
}

.main-content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(2, 2, 2, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}